@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #f49d25;
  --color-background-light: #f8f7f5;
  --color-background-dark: #221a10;

  --font-display: var(--font-inter), sans-serif;
}